@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* font-family: "Open Sans", sans-serif; */



* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --orange: #FD6E0A;
    --light: #FFF8F3;
    --text-white: #fff;
    --text-dark: #181818;
    --text-dark-two: #474747;
    --text-dark-three: #757575;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}


.Logo-color {
    color: var(--orange);
}





nav {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    font-size: 2.5rem;
    font-weight: 900;
}

nav ul {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--text-dark-two);
}



/* Hero part */


.hero-content h1 {
    font-size: 85px;
    font-weight: 700;
    color: var(--text-dark);
}

.hero-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: var(--text-dark-two);
}

.hero-content p {
    font-size: 18px;
    font-weight: 400;
    color: var(--text-dark-three);
    padding-bottom: 40px;
}

.header {
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
    background-color: var(--light);
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-content {
    max-width: 585px;
    margin-left: 220px;
}


.btn-primary {
    padding: 15px 25px;
    background-color: #FD6E0A;
    color: var(--light);
    border-radius: 5px;
    border: none;
    font-size: 1.2rem;
    font-weight: 700;

}

.btn-secondary {
    margin-left: 20px;
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: transparent;
    color: #FD6E0A;
    border-radius: 5px;
    border-color: #FD6E0A;

}


/* text classes */




/* About me */

#about-me {
    margin: 120px auto;

}

.about-me-main {
    border-radius: 10px;
    text-align: center;
    background-color: var(--light);
    padding: 130px 150px;
}



.abt-me-h2 {
    color: var(--text-dark);
    font-size: 35px;
    font-weight: 700;
    padding: 20px 0;
}

.abt-me-p {
    padding-bottom: 40px;
    color: var(--text-dark-three);
    font-size: 18px;
    font-weight: 400;
}


.card-container {
    display: flex;
    justify-content: space-around;
}

.card-p {
    color: var(--text-dark-three);
    font-size: 18px;
    font-weight: 400;
}

.card-h2 {
    color: var(--text-dark);
    font-size: 20px;
    font-weight: 700;

}


/* what I do section */


.what-i-do-text {
    text-align: center;
    margin-bottom: 70px;
}

.what-i-do-h2 {
    color: var(--text-dark);
    font-size: 35px;
    font-weight: 700;
    padding: 20px 0;
}

.what-i-do-p {
    color: var(--text-dark-three);
    font-size: 18px;
    font-weight: 400;
}

/* cards */

.what-i-do-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.what-i-do-card-item {
    padding: 30px;
    width: 25%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-head {

    color: var(--text-dark);
    font-size: 18px;
    font-weight: 700;
    padding: 15px 0;
}

.card-p {

    color: var(--text-dark-three);
    font-size: 18px;
    font-weight: 400;
}


/* Resume Start */


.Resume-head {
    text-align: center;
}


.Resume-head {
    color: var(--text-dark);
    font-size: 35px;
    font-weight: 700;
    padding: 15px 0;
    margin-top: 40px;
    margin-bottom: 60px;
}

.resume-info-container {
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.resume-div {
    margin-bottom: 40px;
}


.resume-info-h2,
.rsm-des {
    padding: 15px 0;
    color: var(--text-dark-two);
    font-size: 25px;
}

.resume-info-p1 {
    padding-bottom: 20px;
    font-size: 20px;
    color: var(--text-dark-three);

}

.resume-info-p2 {
    width: 470px;
    font-size: 16px;
    color: var(--text-dark-three);
    padding-top: 10px;
}

hr {
    width: 510px;
}

.single-btn {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}


/* footer part */

.footer-main {
    background-color: var(--light);
    padding:90px 0;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}



/* footer comon */


.footer-head {
    color: var(--text-dark);
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}



/* right */

.footer-p{
    color: var(--text-dark-three);
    font-size: 18px;
    font-weight: 400;
}

/* left */

.footer-icon-div {
    display: flex;
    margin: 50px 0;
    

}

.footer-icon-div img{
    margin-right: 20px;
}

.p {
    padding: 18px 30px;
    margin-top: 24px;
    width: 450px;
}

.h {
    height: 180px;
}

.btn-margin {
    margin: 30px 0;
}

.input-style {

    border-radius: 5px;
    border: none;
}


/* Responsive Design */

@media screen and (max-width: 576px) {
        

    .header {
    background-image: none;
}
    nav {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

nav ul {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-direction: column;
}

.hero {
    flex-direction: column;
}
.hero img{
    width: 100%;
}

.hero-content {
    max-width: 100%;
    margin-left: 20px;
}



/* About Me Mobile */


.about-me-main {
   
    padding: 30px;
}

.card-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


/* What I do Mobile */


.what-i-do-text {
    padding: 30px;
    
}

.what-i-do-cards {
    flex-direction: column;
    align-items: center;
    
}


.what-i-do-card-item {
    padding: 20px;
    width: 90%;
    text-align: center;
}


/* Resume Mobilr */

.resume-info-container {
    flex-direction: column;
    text-align: center;
}



/*  Footer M */

.footer-div {
    flex-direction: column;
}
.footer-main {
   text-align: center;
}

.footer-icon-div {
    align-items: center;
    display: flex;
    margin: 50px 0;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
}

.footer-right{
    margin: 0 auto;
}

.input-style{
    width: 90%;
}

.resume-left , .resume-right{
    width: 400px;
}


hr {
    display: none;
}

.resume-info-p2 {
    width: 100%;
    font-size: 16px;}


    .footer-p {
    padding: 20px 20px;
    font-size: 16px;
    font-weight: 400;
}

}